<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(view)">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>PC GearHub Admin</title>
<!-- plugins:css -->
<link rel="stylesheet"
	th:href="@{/admin/vendors/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet"
	th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
<!-- endinject -->
<!-- Plugin css for this page -->
<link th:href="@{/fontawesome-free-6.4.0-web/css/all.css}"
	href="/fonts/fontawesome-free-6.4.0-web/css/all.css" rel="stylesheet"
	type="text/css" media="all" />
<link rel="stylesheet"
	th:href="@{/admin/vendors/jvectormap/jquery-jvectormap.css}"
	type="text/css" media="all">
<link rel="stylesheet"
	th:href="@{/admin/vendors/flag-icon-css/css/flag-icon.min.css}"
	type="text/css" media="all">
<link rel="stylesheet"
	th:href="@{/admin/vendors/owl-carousel-2/owl.carousel.min.css}"
	type="text/css" media="all">
<link rel="stylesheet"
	th:href="@{/admin/vendors/owl-carousel-2/owl.theme.default.min.css}"
	type="text/css" media="all">
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" th:href="@{/admin/css/style.css}">
<!-- End layout styles -->
<link rel="shortcut icon" href="@{/admin/images/favicon.png}" />
<!--modal run time thông báo-->
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">
<link rel='stylesheet'
	th:href='@{https://fonts.googleapis.com/css?family=Lato:300}' />
<link rel='stylesheet'
	th:href='@{https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css}' />
<!-- angular -->
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
</head>

<body ng-app="main">
	<div class="container-scroller">
		<!-- partial:partials/_sidebar.html -->
		<div>
			<nav th:replace="~{/admin/fragment/sidebar :: sidebar}"></nav>
		</div>

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_navbar.html -->
			<nav th:replace="~{/admin/fragment/_nav :: nav}"></nav>
			<!-- partial -->
			<div class="main-panel">
				<main th:replace="${view}"></main>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->

				<footer class="footer"
					th:replace="~{/admin/fragment/_footer :: footer}"> </footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<div id="myModalHis" class="modal fade" ng-controller="info"
		style="margin-top: 200px; margin-left: 300px; width: 900px; height: 450px; background-color: black">
		<div class="modal-dialog modal-confirm">
			
			
		</div>
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Mã user</th>
					<th>Hình ảnh</th>
					<th>Ghi chú</th>
					<th>Ngày thực hiện</th>
					<th>Giờ thực hiện</th>


				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in usersHostories| orderBy:'-historyDate' |limitTo:5:begin">
					<td>{{item.user.id}}</td>
					<td><img ng-src="{{urlSetName(item.user.image)}}"
						style="max-width: 200px;" alt="image"
						class="rounded-circle profile-pic"></td>
					<td>{{item.note}}</td>
					<td>{{item.historyDate}}</td>
					<td>{{item.historyTime}}</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm-4"></div>
			<ul class="pagination col-sm-4">
				<li class="btn"><a href="#">{{currentPage}} of
						{{pageCount}}</a></li>
				<li class="btn"><a href="#" ng-click="first()"><i
						class="fas fa-angle-double-left"></i></a></li>
				<li class="btn"><a href="#" ng-click="prev()"><i
						class="fas fa-angle-left"></i></a></li>
				<li class="btn"><a href="#" ng-click="next()"><i
						class="fas fa-angle-right"></i></a></li>
				<li class="btn"><a href="#" ng-click="last()"><i
						class="fas fa-angle-double-right"></i></a></li>
			</ul>

			<div class="col-sm-4"></div>
		</div>
	</div>

	<!-- plugins:js -->

	<script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script th:src="@{/admin/vendors/chart.js/Chart.min.js}"></script>
	<script th:src="@{/admin/vendors/progressbar.js/progressbar.min.js}"></script>
	<script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
	<script
		th:src="@{/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<script th:src="@{/admin/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script th:src="@{/admin/js/off-canvas.js}"></script>
	<script th:src="@{/admin/js/hoverable-collapse.js}"></script>
	<script th:src="@{/admin/js/misc.js}"></script>
	<script th:src="@{/admin/js/settings.js}"></script>
	<script th:src="@{/admin/js/todolist.js}"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->
	<script th:src="@{/admin/js/dashboard.js}"></script>
	<!-- End custom js for this page -->

	<!--for Form -->
	<script th:inline="javascript"
		th:src="@{/admin/vendors/select2/select2.min.js}"></script>
	<script th:inline="javascript"
		th:src="@{/admin/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
	<!-- Custom js for form -->
	<script th:inline="javascript"
		th:src="@{/admin/vendors/js/file-upload.js}"></script>

	<script th:inline="javascript" th:src="@{/admin/js/typeahead.js}"></script>
	<script th:inline="javascript" th:src="@{/admin/js/select2.js}"></script>

	<!-- image -->
	<!-- 	<script th:inline="javascript" th:src="@{/admin/js-service/file.js}"></script> -->
	<!--Thông báo realtime  -->

	<script
		th:src='@{https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js}'></script>
	<script
		th:src='@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}'></script>
	<script th:src='@{/admin/js/alerts-time.js}'></script>

	<!-- angular file -->

	<!--File JS angular-->
	<script th:inline="javascript" th:src="@{/admin/angularjs/main.js}"></script>


	<!--coment realtime-->
	<script
		th:src='@{https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js}'></script>
	<script
		th:src='@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}'></script>
	<script th:src='@{/admin/js/alerts-time.js}'></script>


</body>

</html>