<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layouts/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="content-wrapper" >
		<div class="row" ng-controller="ReportController">
			<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-9">
								<div class="d-flex align-items-center align-self-start mt-1" ng-repeat="report in reports">
									<h3 class="mb-0">  {{ report.totalRevenue  | number: 0}}</h3> 
									
									<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
								</div>
							
							</div>
							 <div class="col-3">
								<div class="icon icon-box-success ">
									
									<span ><a th:href="@{/pcgearhub/admin/table-totalRevenue}"><i class="fa-solid fa-eye text-end text-secondary"></i></a></span>
								</div>
							</div> 
						
						</div>
						
						<h6 class="text-muted font-weight-normal"><span class="text-start">Tổng  doanh thu (vnđ)</span> </h6>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-9">
								<div class="d-flex align-items-center align-self-start" ng-repeat="r in reportsTotalStock">
									<h3 class="mb-0"> {{r.totalInventory}}  </h3>
									<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p> -->
								</div>
							</div>
							<div class="col-3">
								<div class="icon icon-box-success">
									<span ><a th:href="@{/pcgearhub/admin/table-totalRevenue}"><i class="fa-solid fa-eye text-end text-secondary"></i></a></span>
								</div>
							</div>
						</div>
						
						<h6 class="text-muted font-weight-normal">Tổng phiếu nhập kho</h6>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-9">
								<div class="d-flex align-items-center align-self-start" ng-repeat="report in reports">
									<h3 class="mb-0"> {{report.totalQuantity}}  </h3> 
									<!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> -->
								</div>
							</div>
							<div class="col-3">
								<div class="icon icon-box-success ">
									
									<span ><a th:href="@{/pcgearhub/admin/table-invoice-complete}"><i class="fa-solid fa-eye text-end text-secondary"></i></a></span>
								</div>
							</div>
						</div>
						
						<h6 class="text-muted font-weight-normal">Tổng  sản phẩm đã bán</h6>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-9">
								<div class="d-flex align-items-center align-self-start" ng-repeat="report in reportsUser">
									<h3 class="mb-0"> {{report.totalUser}} </h3>
									<!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
								</div>
							</div>
							<div class="col-3">
								<div class="icon icon-box-success ">
									<span ><a th:href="@{/pcgearhub/admin/table-user}"><i class="fa-solid fa-eye text-end text-secondary"></i></a></span>
								</div>
							</div>
						</div>
						<h6 class="text-muted font-weight-normal">Số lượng người dùng </h6>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row" ng-controller="info">
			<div class="col-md-6 col-xl-4 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-row justify-content-between">
							<h4 class="card-title">Đơn hàng cần xác nhận</h4>
							<p class="text-muted mb-1 small">View all</p>
						</div>
						<div class="preview-list" ng-repeat="item in usersInvoces">
							<div class="preview-item border-bottom">
								<div class="preview-thumbnail">
									<img ng-src="{{urlSetName(item.image)}}" style="max-width: 200px" alt="image"
									class="rounded-circle">
										
								</div>
								<div class="preview-item-content d-flex flex-grow">
									<div class="flex-grow">
										<div
											class="d-flex d-md-block d-xl-flex justify-content-between">
											<h6 class="preview-subject">{{item.name}}</h6>
										<!-- 	<p class="text-muted text-small">5 minutes ago</p> -->
										</div>
										<p class="text-muted">Có đơn hàng chưa xác nhận.</p>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
			
		
	</div>
	<script th:inline="javascript" th:src="@{/admin/angularjs/main.js}"></script>
	<script th:inline="javascript" th:src="@{/admin/angularjs/report.js}"></script>
	
</body>
</html>

