<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{/layouts/layout :: dynamic(~{::body})}">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">

<style>
@import
	url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
</style>
</head>

<body style="font-family: Quicksand;">
	<!-- Comments -->
	<link th:href="@{/assets/css/comment.css}" rel="stylesheet" />
	<header>
		<!-- place navbar here -->
	</header>
	<main style="background-color: #ffffff; height: 700px;">
		<form action="" th:object="${itemDetailPage}"
			class="form-Product container-fluid mt-2" style="margin-top: 10px;">
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-5">
					<img th:src="@{|/assets/images/products/*{image1}}" width="600px"
						height="450px">
				</div>
				<div class="col-md-7">
					<h4 style="font-weight: bold; font-size: 26px" th:text="*{name}">Product
						Name</h4>
					<div class="row">
						<div class="col-md-7">
							<p>
								Tình trạng: <i
									style="color: #F1B501; font-family: Quicksand; font-weight: bold; font-size: 20px;"
									th:text="*{status} ? 'Còn hàng' : 'Hết hàng'">Còn hàng</i> |
								còn : <span th:text="*{quantity}"></span> sản phẩm
							</p>


							<div class="PriceProduct"
								style="background-color: #F5F5F5; height: 60px; width: 400px; border-radius: 5px;">
								<h6 style="padding: 10px;">
									Giá: <i
										style="color: red; font-family: Quicksand; font-weight: bold; font-size: 30px; margin-left: 30px;"
										th:text="*{#numbers.formatDecimal(price , 0, 'WHITESPACE', 0, 'POINT') + ' vnđ'}"></i>
								</h6>
							</div>

							<div class="input-group mt-3"
								style="margin-top: 20px; width: 400px;">


								<span class="input-group-btn" style="margin-right: 100px;">
									<button type="button" class="btn btn-outline-secondary"
										onclick="decreaseQuantity()">-</button>
								</span> <input
									style="border: 1px black; width: 130px; text-align: center; color: black; margin-left: 50px;"
									type="text" class="text-center" readonly id="quantity"
									value="1" min="0"> <span class="input-group-btn">
									<button type="button" class="btn btn-outline-secondary"
										onclick="increaseQuantity()">+</button>
								</span>

							</div>
							<a class="btn-login" style="margin-top: 20px; width: 400px;">Thêm
								vào giỏ </a>

							<div class="mt-5">
								<div class="fw-bold" style="margin-top: 20px;">
									Chia sẻ : <a href=""> <img
										th:src="@{/assets/Icon/Facebook.svg}" style="width: 30px"></a>
									<a href=""> <img
										th:src="@{/assets/Icon/Facebook Messenger.svg}"
										style="width: 30px"></a> <a href=""> <img
										th:src="@{/assets/Icon/Twitter Circled.svg}"
										style="width: 30px"></a>
								</div>
							</div>
						</div>
						<div class="col-md-4"
							style="border: 1px solid black; width: 260px;">
							<p class="fw-bold text-center"
								style="color: black; font-weight: bold; text-align: center;">Chính
								sách bán hàng</p>
							<div class="text-center" style="color: black;">
								<p>
									<i class="fa-brands fa-shopify"></i> Cam kết 100% chính hãng
								</p>
								<p>
									<i class="fa-solid fa-phone"></i> Hỗ trợ 24/7
								</p>
								<p class="fw-bold text-center"
									style="color: black; font-weight: bold; text-align: center;">Thông
									tin thêm</p>
								<p>
									<i class="fa-solid fa-check"></i> Hoàn tiền 111% nếu hàng giả
								</p>
								<p>
									<i class="fa-solid fa-thumbs-up"></i> Mở hộp kiểm tra nhận hàng
								</p>
								<p>
									<i class="fa-solid fa-7"></i> Đổi trả trong 7 ngày
								</p>

							</div>

						</div>
						<div class="col-md-12 mt-2">
							<h3>Mô tả sản phẩm</h3>
							<p th:text="*{description}"></p>
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
	<hr style="border-color: #000; border-width: 2px;" />

	<section class="content-item" id="comments" ng-controller="loadAll">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<form>
						<h3 class="pull-left">New Comment</h3>
						<button ng-click="create()" type="submit"
							class="btn btn-primary pull-right">Gửi</button>
						<fieldset>
							<div class="row">
								<div class="col-sm-3 col-lg-2 hidden-xs">
									<img ng-src="{{url(user.image)}}" style="max-width: 100px"
										alt="" />
								</div>
								<div class="form-group col-xs-12 col-sm-9 col-lg-10">
									<textarea class="form-control" id="message"
										ng-model="comment.content" placeholder="Your message"
										required=""></textarea>
								</div>
							</div>
						</fieldset>
					</form>
					<!-- 	<button class="first">Bottom Toast</button>
					<button class="second">Animated Toast</button>
					<button class="third">Error Toast</button> -->

					<h3>{{pageCount}} Comments</h3>

					<!-- COMMENT 1 - START -->
					<div>
						<div class="media"
							ng-repeat="item in items | orderBy:'-orderDate' |limitTo:3:begin">
							<a class="pull-left" href="#"><img
								ng-src="{{url(item.user.image)}}" style="max-width: 50px" alt="" /></a>
							<div class="media-body">

								<h4 class="media-heading">{{item.user.name}}</h4>
								<p>{{item.content}}</p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-calendar"></i>{{item.orderDate}}</li>
									<li><i class="fa fa-thumbs-up"></i>{{item.likeCount}}</li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li ng-if="status" class=""><a href=""
										ng-click="statusSetlike(item.id)"><i
											class="fas fa-thumbs-up"></i></a></li>
									<li ng-if="!status" class=""><a href=""
										ng-click="statusSetlike(item.id)"><i
											class="fas fa-thumbs-down"></i></a></li>
								<!-- 	<li class=""><a href="">Reply</a></li> -->
								</ul>
							</div>
						</div>
						<div style="width: 1200px; background-color: red">

							<div class="col-sm-4"></div>
							<ul class="pagination col-sm-4">
								<li class="btn"><a href="#">{{currentPage}} of
										{{pageCount}}</a></li>
								<li class="btn"><a href="#" ng-click="first()"><i
										class="fas fa-angle-double-left"></i></a></li>
								<li class="btn"><a href="#" ng-click="prev()"><i
										class="fas fa-angle-left"></i></a></li>
								<li class="btn"><a href="#" ng-click="next()"><i
										class="fas fa-angle-right"></i></a></li>
								<li class="btn"><a href="#" ng-click="last()"><i
										class="fas fa-angle-double-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr style="border-color: #000; border-width: 2px;" />
		<hr style="border-color: #000; border-width: 2px;" />
		<hr style="border-color: #000; border-width: 2px;" />
		<hr style="border-color: #000; border-width: 2px;" />
	</section>

	<hr style="border-color: #000; border-width: 2px;" />
	<hr style="border-color: #000; border-width: 2px;" />
	<hr style="border-color: #000; border-width: 2px;" />
	<hr style="border-color: #000; border-width: 2px;" />


	<!-- angular -->

	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
	<script th:inline="javascript"
		th:src="@{/assets/AngularJS/shopping-cart-app.js}"></script>

	<script>
		function increaseQuantity() {
			var quantityInput = document.getElementById("quantity");
			var quantity = parseInt(quantityInput.value);
			quantityInput.value = quantity + 1;
		}

		function decreaseQuantity() {
			var quantityInput = document.getElementById("quantity");
			var quantity = parseInt(quantityInput.value);
			if (quantity > 1) {
				quantityInput.value = quantity - 1;
			}
		}
	</script>
	<link rel="stylesheet" th:href="@{/assets/css/login.css}">
	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>


	<script>
		// Lấy URL trang hiện tại
		var currentPage = window.location.pathname;

		// Lấy phần tử <div>
		var divElement = document.querySelector('.nav-category-home');

		// Xóa lớp 'hello' nếu trang hiện tại không phải trang index
		if (currentPage !== '/') {
			divElement.classList.remove('hello');
		}
	</script>

	<!-- Comment -->
	<script
		th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>

</body>

</html>
