<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layouts/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>
	<style>
		.card {

			height: 300px;
			position: relative;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			min-width: 0;
			word-wrap: break-word;
			background-color: #fff;
			background-clip: border-box;
			border: 1px solid rgba(0, 0, 0, .125);
			border-radius: 0.25rem;
		}

		.forms-group {
			margin-top: -70px;
			margin-bottom: 2rem;
		}

		.form-group {

			margin-bottom: 2rem;
		}

		.col-form-label {
			padding-top: calc(0.375rem + 1px);
			padding-bottom: calc(0.375rem + 1px);
			margin-bottom: 0;
			font-size: inherit;
			line-height: 1.5;
		}

		.custom-toast-container {
			font-size: 20px;
			/* Tùy chỉnh kích thước phông chữ */
			height: 502px;
			/* Tùy chỉnh chiều cao của toast */
		}

		.custom-toast-title {
			font-size: 24px;
			/* Tùy chỉnh kích thước phông chữ cho tiêu đề */
		}

		.custom-toast-icon {
			font-size: 20px;
			/* Tùy chỉnh kích thước phông chữ cho biểu tượng */
		}

		.custom-toast-title {
			font-size: 24px;
			/* Tùy chỉnh kích thước phông chữ cho tiêu đề, thay đổi giá trị theo mong muốn */

		}
	</style>

	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
	<link rel="stylesheet" th:href="@{/admin/css/modal.css}">
	<div class="container" ng-app="shopping-cart-app"
		style="margin-left: 130px; margin-bottom: 400px; margin-top: 10px;">
		<div class="main-body" ng-controller="loadAlls">
			<div class="page-header">
				<h3 class="page-title">Chỉnh sửa người dùng:</h3>
				<nav aria-label="breadcrumb"> </nav>
			</div>
			<div class="row">

				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Ảnh đại diện</h4>
							<hr style="background-color: white;">
							<div>
								<label for="" title="Double click to delete">
									<div class="circular-img">
										<img ng-hide="user.image.includes('https://')"
											ng-src="{{ url(user.image) }}"
											ng-click="download(user.image)"
											ng-dblclick="delete(user.image)"
											alt="">

										<img ng-if="user.image != null && user.image.includes('https://')  "
											src="{{user.image }}"
											ng-click="download(user.image)"
											ng-dblclick="delete(user.image)"
											alt="">


									</div>




								</label>
								<div class="form-group mt-3"
									style="max-width: 304px">
									<div class="input-group col-xs-12">
										<input type="file"
											accept="image/*"
											onchange="angular.element(this).scope().upload(this.files)">
										<span
											class="input-group-append"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<style>
					.circular-img {
						margin-left: 20px;
						width: 200px;
						height: 200px;
						border-radius: 50%;
						overflow: hidden;
						display: inline-block;
					}

					.circular-img img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				</style>


				<div class="col-lg-lg-6">
					<div class="card" style="  border: 1px solid rgba(0,0,0,.125);">
						<div class="card-body" style="    padding: 1.25rem;">

							<form class="forms-sample">
								<div class="form-group row" ng-if="id">> <label
										for="exampleInputUsername2"
										class="col-sm-2 col-form-label">Mã
										tài khoản:</label>
									<div class="col-sm-9"> <input
											type="text"
											class="form-control"
											ng-model="user.id"
											id="exampleInputUsername2"
											placeholder="Tên tài khoản">

									</div>
								</div>

								<div class="form-group row"> <label
										for="exampleInputUsername2"
										class="col-sm-2 col-form-label">Họ
										và tên:</label>
									<div class="col-sm-9"> <input
											type="text"
											class="form-control"
											ng-model="user.name"
											id="exampleInputUsername2"
											placeholder="Họ và tên">
										<p ng-show="showErrorName"
											style="color: red;"
											class="error-message">
											{{errorMessageName}}
										</p>
									</div>
								</div>
								<div class="form-group row" ng-if="mathkau">
									<label for="exampleInputUsername2"
										class="col-sm-2 col-form-label">Mật
										khẩu:</label>
									<div class="col-sm-9"> <input
											type="text"
											class="form-control"
											ng-model="user.password"
											id="exampleInputUsername2"
											placeholder="Mật khẩu">

									</div>
								</div>
								<div class="form-group row"> <label
										for="exampleInputEmail2"
										class="col-sm-2 col-form-label">Email:</label>
									<div class="col-sm-9"> <input
											type="email"
											class="form-control"
											ng-model="user.email"
											id="exampleInputEmail2"
											placeholder="Email">
										<p class="error-message"
											style="color: red;">
											{{errorMessageEmail}}
										</p>
									</div>
								</div>
								<div class="form-group row"> <label
										for="exampleInputMobile"
										class="col-sm-2 col-form-label">Số
										điện thoại</label>
									<div class="col-sm-9"> <input
											type="text"
											class="form-control"
											ng-model="user.phone"
											id="exampleInputMobile"
											placeholder="Số điện thoại">
										<p ng-show="showErrorPhone"
											style="color: red;"
											class="error-message">
											{{errorMessagePhone}}
										</p>
									</div>
								</div>
								<div class="form-group row"> <label
										for="exampleInputMobile"
										class="col-sm-2 col-form-label">Địa
										chỉ:</label>
									<div class="col-sm-9"> <input
											type="text"
											class="form-control"
											ng-model="user.address"
											id="exampleInputMobile"
											placeholder="Địa chỉ">
										<p ng-show="showErrorAddress"
											style="color: red;"
											class="error-message">
											{{errorMessageAddress}}
										</p>
									</div>
								</div>
								<div class="row form-group"
									ng-if="showRoleSection"> <label
										for="exampleInputMobile"
										class="col-sm-2 col-form-label">Chức
										vụ</label>
									<div class="form-check col-lg-4 ms-2">
										<label
											class="form-check-label">
											<input type="radio"
												class="form-check-input"
												name="admin"
												ng-model="user.admin"
												ng-value="true"
												id="admin_true">
											Admin </label>
									</div>
									<div class="form-check col-lg-4">
										<label
											class="form-check-label">
											<input type="radio"
												class="form-check-input"
												name="admin"
												ng-model="user.admin"
												ng-value="false"
												id="admin_false">
											User </label>
									</div>
								</div>
								<div class="row form-group"
									ng-if="showActivitySection"> <label
										for="exampleInputMobile"
										class="col-sm-2 col-form-label">Hoạt
										động</label>
									<div class="form-check col-lg-4 ms-2">
										<label
											class="form-check-label">
											<input type="radio"
												class="form-check-input"
												name="status"
												ng-model="user.status"
												ng-value="true"
												id="status_true">
											Còn hoạt động
										</label>
									</div>
									<div class="form-check col-lg-4">
										<label
											class="form-check-label">
											<input type="radio"
												class="form-check-input"
												name="status"
												ng-model="user.status"
												ng-value="false"
												id="status_false">
											Ngừng hoạt động
										</label>
									</div>
								</div>
								<div class="row form-group"
									ng-if="showConfirmationSection"> <label
										for="exampleInputMobile"
										class="col-sm-2 col-form-label">Xác
										nhận</label>
									<div class="form-check col-lg-4 ms-2">
										<label
											class="form-check-label">
											<input type="radio"
												class="form-check-input"
												name="optionsRadio2"
												id="check"
												ng-value="true"
												ng-model="user.confirm">
											Đã xác nhận </label>
									</div>
									<div class="form-check col-lg-4 ">
										<label
											class="form-check-label">
											<input type="radio"
												class="form-check-input"
												name="optionsRadios2"
												id="check"
												ng-value="false"
												ng-model="user.confirm">
											Chưa xác nhận
										</label>
									</div>
								</div>
								<hr style="background-color: white;">
								<button ng-click="update()" type="submit"
									class="btn btn-success mr-2">Sửa</button>

								<button ng-click="reset()"
									class="btn btn-dark">Làm mới</button>
							</form>
						</div>
					</div>
				</div>
			</div>





			<!-- Rest of your HTML code remains unchanged -->


		</div>
	</div>
	<script>
		// Lấy URL trang hiện tại
		var currentPage = window.location.pathname;

		// Lấy phần tử <div>
		var divElement = document.querySelector('.nav-category-home');

		// Xóa lớp 'hello' nếu trang hiện tại không phải trang index
		if (currentPage !== '/') {
			divElement.classList.remove('hello');
		}
	</script>

	<script th:src="@{https://code.jquery.com/jquery-1.10.2.min.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js}"></script>
	<!-- <script th:inline="javascript" th:src="@{/js/profile.js}"></script> -->
	<script th:inline="javascript" th:src="@{/admin/js/typeahead.js}"></script>
	<script th:inline="javascript" th:src="@{/admin/js/select2.js}"></script> <!-- angular -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
	<!-- <script th:inline="javascript" th:src="@{/assets/js/profile.js}"></script> -->
</body>