<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layouts/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="main-panel">
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title">Biểu đồ thống kê</h3>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Charts</a></li>
						<li class="breadcrumb-item active" aria-current="page">Chart-js</li>
					</ol>
				</nav>
			</div>
			<div class="row">
				<div class="col-lg-6 grid-margin stretch-card" ng-controller="line">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Thống kê doanh thu theo tháng</h4>
							<div class="d-flex justify-content-end mb-3">
								<select class="form-select" aria-label="Default select example"
									ng-model="selectedYear" ng-change="yearChanged()"
									style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 0.25rem; padding: 0.375rem 1.75rem 0.375rem 0.75rem; font-size: 1rem; color: #495057; appearance: none;">
									<option value="">Chọn năm</option>
									<option ng-repeat="year in years" value="{{ year }}">{{
										year }}</option>
								</select>
							</div>
							<canvas id="lineChart" style="height: 250px"></canvas>
						</div>
					</div>
				</div>

				<div class="col-lg-6 grid-margin stretch-card" ng-controller="bar">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Thống kê Tổng số hóa đơn đã hủy theo tháng</h4>
								<div class="d-flex justify-content-end mb-3">
								<select class="form-select" aria-label="Default select example"
									ng-model="selectedYear" ng-change="yearChanged()"
									style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 0.25rem; padding: 0.375rem 1.75rem 0.375rem 0.75rem; font-size: 1rem; color: #495057; appearance: none;">
									<option value="">Chọn năm</option>
									<option ng-repeat="year in years" value="{{ year }}">{{
										year }}</option>
								</select>
							</div>
							<canvas id="barChart" style="height: 230px"></canvas>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
	<!-- Plugin js for this page -->
	<script th:src="@{/admin/vendors/chart.js/Chart.min.js}"></script>
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script th:src="@{/admin/js/off-canvas.js}"></script>
	<script th:src="@{/admin/js/hoverable-collapse.js}"></script>
	<script th:src="@{/admin/js/misc.js}"></script>
	<script th:src="@{/admin/js/settings.js}"></script>
	<script th:src="@{/admin/js/todolist.js}"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->

	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
	<script th:inline="javascript" th:src="@{/admin/angularjs/main.js}"></script>
	<script th:inline="javascript"
		th:src="@{/admin/angularjs/line-chart.js}"></script>

</body>

</html>