<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layouts/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="main-panel">
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title">Bảng Hóa Đơn Đang Giao Hàng</h3>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Quản lý hóa đơn</a></li>
						<li class="breadcrumb-item active" aria-current="page">Đang giao hàng</li>
					</ol>
				</nav>
			</div>
			<div class="row">

				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body" ng-controller="ctrl">
							<h4 class="card-title">Bảng Dữ Liệu</h4>
							<p class="card-description">
								Hóa đơn
								<code>Đang giao hàng</code>
							</p>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
										<th>STT</th>
											<th ng-click="sortBy('id')">Mã hóa đơn</th>
											<th ng-click="sortBy('orderDate')">Ngày Đặt Hàng</th>
											<th ng-click="sortBy('status')">status</th>
											<th ng-click="sortBy('name')">Tên người đặt</th>
											<th>Thao tác</th>
											<th>Xác nhận</th>

										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in items | orderBy:prop |limitTo:5:begin">
										<td>{{ $index + 1 }}</td>
											<td>{{item.id}}</td>
											<td>{{item.orderDate | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
											<td class="text-info">
											<span ng-if="item.status=='delivery'">Đang giao hàng</span> 
											</td>
											<td>{{item.user.name}}</td>
											<td ng-click="edit(item.id)"><a class="btn btn-info" href="#">Xem chi tiết </a></td>
											<td ng-click="update(item.id)"><a class="btn btn-success" href="#">Hoàn thành đơn hàng </a></td>
										</tr>
									</tbody>
								</table>
								<!-- Phần phân trang -->


							</div>
							<div class="row">
								<div class="col-sm-4"></div>
								<ul class="pagination col-sm-4">
									<li class="btn"><a href="#">{{currentPage}} of
											{{pageCount}}</a></li>
									<li class="btn"><a href="#" ng-click="first()"><i
											class="fas fa-angle-double-left"></i></a></li>
									<li class="btn"><a href="#" ng-click="prev()"><i
											class="fas fa-angle-left"></i></a></li>
									<li class="btn"><a href="#" ng-click="next()"><i
											class="fas fa-angle-right"></i></a></li>
									<li class="btn"><a href="#" ng-click="last()"><i
											class="fas fa-angle-double-right"></i></a></li>
								</ul>
								<div class="col-sm-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
				<script th:inline="javascript" th:src="@{/admin/angularjs/main.js}"></script>
	<script th:inline="javascript" th:src="@{/admin/angularjs/invoice-delivery.js}"></script>
</body>
</html>