<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/layout :: dynamic(~{::body})}">


<head>
</head>

<body>
      <!-- SlideShow -->
      <div th:replace="~{/fragment/slide-show :: slide}"></div>
      <div th:replace="~{/fragment/top10NewProduct :: top10New}"></div>
      <div th:replace="~{/fragment/product :: product}"></div>
      <script
      th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
      <script th:inline="javascript" th:src="@{/assets/AngularJS/shopping-cart-app.js}"></script>
</body>



</html>