<footer id="footer-site">
  <div class="top-footer wow fadeInUp">
    <div class="container">
      <div class="item">
        <h3 class="title-footer">THÔNG TIN CHUNG</h3>
        <div class="nav-item-adress">
          <ul>
            <li><a href="gioi-thieu-cong-ty.html" rel="nofollow"><i class="fal fa-angle-right"></i>Giới thiệu</a>
            </li>
            <li><a href="tin-tuc.html" rel="nofollow"><i class="fal fa-angle-right"></i>Tin tức -
                Cập nhật</a>
            </li>
            <li><a href="thong-tin-khuyen-mai.html" rel="nofollow"><i class="fal fa-angle-right"></i>Thông tin
                khuyến mại</a>
            </li>
            <li><a href="lien-he.html" rel="nofollow"><i class="fal fa-angle-right"></i>Thông tin
                liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <h3 class="title-footer">CHÍNH SÁCH CHUNG</h3>
        <div class="nav-item-adress">
          <ul>
            <li><a href="chinh-sach-van-chuyen.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách vận
                chuyển</a>
            </li>
            <li><a href="chinh-sach-bao-hanh.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách bảo
                hành</a>
            </li>
            <li><a href="chinh-sach-doi-tra.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách đổi
                trả</a>
            </li>
            <li><a href="chinh-sach-bao-mat.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách bảo
                mật</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <h3 class="title-footer">HỖ TRỢ KHÁCH HÀNG</h3>
        <div class="nav-item-adress">
          <ul>
            <li><a href="huong-dan-mua-hang-truc-tuyen" rel="nofollow"><i class="fal fa-angle-right"></i>Hướng dẫn
                mua trực tuyến</a>
            </li>
            <li><a href="huong-dan-mua-hang-tra-gop" rel="nofollow"><i class="fal fa-angle-right"></i>Hướng dẫn mua
                trả góp</a>
            </li>
            <li><a href="huong-dan-thanh-toan.html" rel="nofollow"><i class="fal fa-angle-right"></i>Hướng dẫn thanh
                toán</a>
            </li>
            <li><a href="tu-van-ky-thuat.html" rel="nofollow"><i class="fal fa-angle-right"></i>Tư
                vấn kỹ thuật</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <h3 class="title-footer">Hỗ trợ khách hàng</h3>
        <div class="nav-item-adress">
          <div class="fb-page" data-href="h" data-tabs="timeline" data-height="135" data-small-header="false"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="h" class="fb-xfbml-parse-ignore"><a href="h">Facebook</a></blockquote>
          </div>
        </div>
      </div>
      <div class="item">
        <h4 class="title">Liên kết mạng xã hội</h4>
        <div class="nav-item-adress">
          <ul class="social-footer">
            <li><a href="https://www.facebook.com/nhdinh03"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li><a href=""><i class="fab fa-twitter"></i></a>
            </li>
            <li><a href="h"><i class="fab fa-instagram"></i></a>
            </li>
            <li><a href=""><i class="fab fa-youtube"></i></a>
            </li>
            <li><a href=""><i class="fab fa-google"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="band-logo wow fadeInUp">
    <div class="container">
      <div class="slider-logo owl-carousel">
        <div class="item">
          <a th:href="@{/pcgearhub/index}" ><img th:src="@{/assets/images/logo/logo.jpg}">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/nvidia-logo2.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/dctaxly2.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/amd.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/cooler-master-logo-png-3.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/corsair1.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/dctaxly2.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/amd.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/nvidia-logo2.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/msi.png}" alt="">
          </a>
        </div>
        <div class="item">
          <a href=""><img th:src="@{/assets/images/doi-tac/42226369.png}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="" class="logo-footer">
            <img th:src="@{/assets/images/logo/logo.jpg}" alt="CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VÀ CÔNG NGHỆ PCGearHusb">
          </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="title-footer">
            CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VÀ CÔNG NGHỆ PCGesarHub
          </div>
          <div class="nav-bottom">
            <p><span>Địa chỉ : Cần Thơ</p>
            <p><span>Địa chỉ kinh doanh: </span>Địa chỉ : Số 10000 - Cần Thơ -
              Cần Thơ</p>
            <p style="color:#000000!important"><span>Điện thoại: </span>0389307257 - 0389307257</p>
            <p><span>Email: </span>nhdinhpc3@gmail.com</p>
            <p><span>Hotline: </span>0389307257</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="map-footer">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52547.56565281307!2d105.71637028090807!3d10.034184408522814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0629f6de3edb7%3A0x527f09dbfb20b659!2zQ-G6p24gVGjGoSwgTmluaCBLaeG7gXUsIEPhuqduIFRoxqEsIFZp4buHdCBOYW0!5e1!3m2!1svi!2s!4v1688612793398!5m2!1svi!2s"
              width="342" height="130" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div class="container">
      <div class="wp-copy text-center" style="color:#000000">
        Mã số thuế: 123456789 - Do sở kế hoạch và đầu tư thành phố Hà Nội Cấp ngày 01/01/1000
      </div>
    </div>
  </div>
  <div class="holine-footer">
    <div class="holine-footer1">
      <span class="title-holine">Hotline:</span>
      <a href="tel:0389.307.257"><span class="holine-phone">0389.307.257</span></a>
    </div>
    <div id="btn-top" class="backtotop">
      <i style="font-size: 40px;" class="fa-thin fa-circle-up fa-2xl"></i>
    </div>
  </div>
</footer>