<header  id="header-site" class="header" style="position: -webkit-sticky;
position: sticky;
top: 0;">
  <!-- <span class="d-none" th:attr="data-user-remoteuser=${#request.remoteUser != null ? #request.remoteUser : -1 }"></span> -->
  <div class="top-header up-main" style="background-color: rgb(0, 0, 0); color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-6 col-xs-12">
          <div class="item-top left-top">
            <div class="box-left d-flex flex-wrap align-items-center">
              <div class="hotline">
                <span>Hotline: <b>0868584834</b>  * Địa chỉ:
                  <b>HCM</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="mb-3"> <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
            <select style="color: white;background-color: black;border: none;" class="form-select form-select-lg"
              name="" id="">
              <option selected> <a href="?lang=vi">VI</a></option>
              <option value=""> <a href="?lang=en">EN</a></option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tìm kiếm , giỏ hàng -->
  <div class="main-logo-shop">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <a th:href="@{/pcgearhub/index}" class="logo"><img height="35px" th:src="@{/assets/images/logo/logo.jpg}">

          </a>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="search-shop-holine">
            <div class="row">
              <div class="col-md-6">
             
              </div>
             
              <div class="col-md-3" style="margin-left: 20px;">
                <div class="item-top right-top">


                  <ul ng-controller="loadAll">
              
                    <li ng-if="!userLogged"><a th:href="@{/pcgearhub/login}" rel="">Đăng nhập</a></li>
                    <li ng-if="!userLogged"><a href="">/</a></li>
                    <li ng-if="!userLogged"><a th:href="@{/pcgearhub/sign-in}" rel="">Đăng ký</a></li>

                   
                   <span  ng-if="userLogged" >Xin chào :
                    {{ (user.name.substring(user.name.lastIndexOf(" ") + 1)).normalize('NFC') }}
                   </span>
                   
                    <li onmouseover="showDropdown()" onmouseout="hideDropdown()"><a href="#" rel="nofollow"> &ensp;
                    <a  href="">Tài khoản&ensp;<i class="fa-solid fa-arrow-down"></i></a></i></a></span>
                  
                      <ul id="dropdownMenu" class="dropdown-menu fade-up bg-light"

                        style="list-style: none; display: none;">
                        <li><a class="dropdown-item" style="color: #686868" th:href="@{/pcgearhub/profile/{{user.id}}}">  Trang cá
                            nhân </a></li>
                            <!-- /__${#request.remoteUser}__ -->
                        <li><a class="dropdown-item" style="color: #686868" th:href="@{/pcgearhub/ordered-list}"> Xem
                            đơn hàng </a></li>
                        <li><a class="dropdown-item" style="color: #686868" th:href="@{/pcgearhub/change-password}"> Đổi
                            mật
                            khẩu </a></li>
                        
                            <li><a class="dropdown-item" style="color: #686868" ng-if="user.admin == true" th:href="@{/pcgearhub/admin/index}"> ADMIN</a></li>
                        <li><a class="dropdown-item" style="color: #686868" th:href="@{/auth/logoff/success}">
                            Đăng xuất
                          </a></li>
                        <!-- <a href="/auth/logoff">logoff</a> -->
                        <li><a class="dropdown-item" style="color: #686868" href="#"></a></li>
                      </ul>

                    </li>

                  </ul>


                </div>

              </div>
              <div class="col-md-2">
                <div class="header__cart_hi">

                  <li class="hm-minicart">
                    <div class="hm-minicart-trigger">
                      <span class="item-icon"></span>
                      <span class="item-text">Giỏ hàng
                        <span class="cart-item-count"> {{cart.count}} </span>
                      </span>


                    </div>

                    <span></span>
                    <div class="minicart">
                      <div style="max-height: 300px; overflow-y: auto; ">
                        <ul class="minicart-product-list" ng-repeat="item in cart.items">
                          <li>
                            <img ng-src="/assets/images/products/{{item.image1}}" width="90px" height="70px"
                              style="border-radius: 5px;">

                            <div class="minicart-product-details">
                              <h6>
                                <a href="single-product.html">
                                  <span
                                    ng-bind="item.name.length > 28 ? (item.name | limitTo: 28) + '...' : item.name"></span>
                                </a>
                              </h6>


                              <span>
                                <p style="color: red;font-weight: bold; margin-top: 5px;">{{(item.price |
                                  number:0) +
                                  ' vnđ'}} x {{item.qty}}</p>
                              </span>
                            </div>
                            <button class="close" ng-click="cart.remove(item.id)" title="Remove">
                              <i class="fa fa-close"></i>
                            </button>
                          </li>

                        </ul>
                        <div ng-show="cart.count === 0">
                          <p style="text-align: center;">Bạn chưa có sản phẩm nào!</p>
                        </div>
                      </div>
                      <p class="minicart-total">Tổng: <span ng-bind="(cart.amount | number:0) + 'vnđ'">
                          <!-- toán tử pipe (|), number : định dạng số ,  --> </span></p>
                      <div class="minicart-button">
                        <a th:href="@{/pcgearhub/cart}" class="li-button li-button-fullwidth li-button-dark">
                          <span>Xem giỏ hàng</span>
                        </a>
                       
                      </div>
                    </div>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Tìm kiếm , giỏ hàng -->
</header>