    <div class="Banner-Giua" th:fragment="banner" style="margin-top: 20px;" >
      <div class="container">
        <div class="row">
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/Banner-Center.png" style=" border-radius: 5px; ">
          </div>
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/tuVanBuildPC.jpg " style=" border-radius: 5px;">
          </div>
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/PCGaming.png" style=" border-radius: 5px;">
          </div>
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/Baolo.png" style=" border-radius: 5px;">
          </div>
        </div>
      </div>
    </div>