 <div class="slider-sale" th:fragment="slide" >
        <div class="container" style="margin-left: 100px">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 col-edit-1">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-edit-2">
              <div class="main-slider">
                <div class="slider-large owl-carousel">
                  <div class="item" data-hash="one4">
                    <a href="cpu-intel.html"> <img th:src="@{/assets/images/slide/banner/702x348-01.jpg}"
                        alt="Intel Gen 10th">
                    </a>
                  </div>
                  <div class="item" data-hash="one0">
                    <a href="pc-workstation.html"> <img th:src="@{/assets/images/slide/banner/702x348-05.jpg}"
                        alt="PC WORKSTATION ">
                    </a>
                  </div>
                  <div class="item" data-hash="one1">
                    <a href="chinh-sach-bao-hanh.html"> <img th:src="@{/assets/images/slide/banner/702x348-06.jpg}"
                        alt="BẢO HÀNH ">
                    </a>
                  </div>
                  <div class="item" data-hash="one2">
                    <a href="huong-dan-thanh-toan.html"> <img
                        th:src="@{/assets/images/slide/banner/banner-web-tra-gop.png}" alt="TRẢ GÓP">
                    </a>
                  </div>
                 
                 
                  <div class="item" data-hash="one5">
                    <a href="tim-kiem.html?key=3900x"> <img th:src="@{/assets/images/slide/banner/702x348-07.jpg}"
                        alt="RYZEN 9 3900X">
                    </a>
                  </div>
                  <div class="item" data-hash="one6">
                    <a href="gaming-gear-cooling.html"> <img
                        th:src="@{/assets/images/slide/banner/63e0d8b8b0e34dbd14f2.jpg}" alt="GAMING GEAR">
                    </a>
                  </div>
                </div>
                <div class="slider-small owl-carousel">
                  <a href="#one0"> <span class="transforn"></span> PC WORKSTATION </a>
                  <a href="#one1"> <span class="transforn"></span> BẢO HÀNH </a>
                  <a href="#one2"> <span class="transforn"></span> TRẢ GÓP </a>
                  <a href="#one3"> <span class="transforn"></span> RTX 3000 Series </a>
                  <a href="#one4"> <span class="transforn"></span> Intel Gen 10th </a>
                  <a href="#one5"> <span class="transforn"></span> RYZEN 9 3900X </a>
                  <a href="#one6"> <span class="transforn"></span> GAMING GEAR </a>
                </div>
              </div>
            </div>

            <!--Link Gioi Thieu yoytube  -->
            <div class="col-md-3 col-sm-3col-xs-12 col-edit-3 mobile-display-none" >
              <div class="sale">
                <a href="tim-kiem.html?key=VGA+giga"><img
                    th:src="@{/assets/images/square-rtx-30-family-header-photo-1200x1200-gbt.jpg}" alt="">
                </a>
              </div>
              <div class="sale" style=" margin-top: 5px;">
                <a href="tim-kiem.html?key=VGA+giga"><img
                    th:src="@{/assets/images/square-rtx-30-family-header-photo-1200x1200-gbt.jpg}" width="300px"
                    height="90  px">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <style>
        .sale {
          margin-bottom: 3px;
        }
      </style>
