
<nav class="sidebar sidebar-offcanvas" id="sidebar"
	th:fragment="sidebar" ng-controller="info">
	<div
		class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
		<a class="sidebar-brand brand-logo" href="index.html"><img
			th:src="@{/admin/images/logo.svg}" alt="logo" /></a> <a
			class="sidebar-brand brand-logo-mini" href="index.html"></a>
	</div>
	<ul class="nav">
		<li class="nav-item profile">
			<div class="profile-desc">
				<div class="profile-pic">
					<div class="count-indicator">
							 <img class="img-xs rounded-circle " ng-src="{{url()}}" style="max-width: 200px"> 
					</div>
					<div class="profile-name">
						<h5 class="mb-0 font-weight-normal">{{info.name}}</h5>
						<span>admin</span>
					</div>
				</div>
				<a href="#" id="profile-dropdown" data-toggle="dropdown"><i
					class="mdi mdi-dots-vertical"></i></a>
				<div
					class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
					aria-labelledby="profile-dropdown">
					<a href="#" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-settings text-primary"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1 text-small">Account
								settings</p>
						</div>
					</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-onepassword  text-info"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1 text-small">Change
								Password</p>
						</div>
					</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-calendar-today text-success"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1 text-small">To-do
								list</p>
						</div>
					</a>
				</div>
			</div>
		</li>
		<li class="nav-item nav-category"><span class="nav-link">Tương tác</span>
		</li>
		<li class="nav-item menu-items"><a class="nav-link"
			th:href="@{/pcgearhub/admin/index}"> <span class="menu-icon">
					<i class="mdi mdi-speedometer"></i>
			</span> <span class="menu-title">Trang chủ</span>
		</a></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-invoice" aria-expanded="false"
			aria-controls="ui-user"> <span class="menu-icon"> <i
					class="mdi mdi-file-document-box"></i>
			</span> <span class="menu-title">Quản Lý Hóa Đơn</span> <i
				class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-invoice">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-invoice-pending}">Chưa giải
							quyết</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-invoice-delivery}">Đang giao
							hàng</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-invoice-complete}">Đơn đã
							giao</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-invoice-cancelled}">Đơn đã
							hủy</a></li>

				</ul>
			</div></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-user" aria-expanded="false"
			aria-controls="ui-user"> <span class="menu-icon"> <i
					class="mdi mdi-laptop"></i>
			</span> <span class="menu-title">Quản Lý Người Dùng</span> <i
				class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-user">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-user}">Bảng dữ liệu</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/form-user/UNull}">Form nhập liệu</a></li>
				</ul>
			</div></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-product" aria-expanded="false"
			aria-controls="ui-product"> <span class="menu-icon"> <i
					class="mdi mdi-laptop"></i>
			</span> <span class="menu-title">Quản Lý Sản Phẩm</span> <i
				class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-product">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-product}">Bảng dữ liệu</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/form-product/PNull}">Form nhập liệu</a></li>
				</ul>
			</div></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-category" aria-expanded="false"
			aria-controls="ui-category"> <span class="menu-icon"> <i
					class="mdi mdi-laptop"></i>
			</span> <span class="menu-title">Quản Lý Danh mục</span> <i
				class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-category">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-category}">Bảng dữ liệu</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/form-category/3333}">Form nhập
							liệu</a></li>
				</ul>
			</div></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-brand" aria-expanded="false"
			aria-controls="ui-brand"> <span class="menu-icon"> <i
					class="mdi mdi-laptop"></i>
			</span> <span class="menu-title">Quản Lý nhãn hàng</span> <i
				class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-brand">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-brand}">Bảng dữ liệu</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/form-brand/4444}">Form nhập liệu</a></li>
				</ul>
			</div></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-supplier" aria-expanded="false"
			aria-controls="ui-supplier"> <span class="menu-icon"> <i
					class="mdi mdi-laptop"></i>
			</span> <span class="menu-title">Nhà Cung cấp</span> <i class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-supplier">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-supplier}">Bảng dữ liệu</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/form-supplier/5555}">Form nhập
							liệu</a></li>
				</ul>
			</div></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-distinctive" aria-expanded="false"
			aria-controls="ui-distinctive"> <span class="menu-icon"> <i
					class="mdi mdi-laptop"></i>
			</span> <span class="menu-title">Đặc Trưng</span> <i class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-distinctive">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-distinctive}">Bảng dữ liệu</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/form-distinctive/6666}">Form nhập
							liệu</a></li>
				</ul>
			</div></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#ui-thongke" aria-expanded="false"
			aria-controls="ui-thongke"> <span class="menu-icon"> <i
					class="mdi mdi-file-document-box"></i>
			</span> <span class="menu-title">Tài liệu thống kê</span> <i class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-thongke">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/pcgearhub/admin/table-totalRevenue}">Tổng doanh
							thu</a></li>

				

				</ul>
			</div></li>

	<!-- 	<li class="nav-item menu-items"><a class="nav-link"
			href="pages/tables/basic-table.html"> <span class="menu-icon">
					<i class="mdi mdi-table-large"></i>
			</span> <span class="menu-title">Tables</span>
		</a></li> -->
		<li class="nav-item menu-items"><a class="nav-link"
			th:href="@{/pcgearhub/admin/chart}"> <span class="menu-icon">
					<i class="mdi mdi-chart-bar"></i>
			</span> <span class="menu-title">Biểu đồ thống kê</span>
		</a></li>
		<!-- <li class="nav-item menu-items"><a class="nav-link"
			href="pages/icons/mdi.html"> <span class="menu-icon"> <i
					class="mdi mdi-contacts"></i>
			</span> <span class="menu-title">Icons</span>
		</a></li>
		<li class="nav-item menu-items"><a class="nav-link"
			data-toggle="collapse" href="#auth" aria-expanded="false"
			aria-controls="auth"> <span class="menu-icon"> <i
					class="mdi mdi-security"></i>
			</span> <span class="menu-title">User Pages</span> <i class="menu-arrow"></i>
		</a>
			<div class="collapse" id="auth">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						href="pages/samples/blank-page.html"> Blank Page </a></li>
					<li class="nav-item"><a class="nav-link"
						href="pages/samples/error-404.html"> 404 </a></li>
					<li class="nav-item"><a class="nav-link"
						href="pages/samples/error-500.html"> 500 </a></li>
					<li class="nav-item"><a class="nav-link"
						href="pages/samples/login.html"> Login </a></li>
					<li class="nav-item"><a class="nav-link"
						href="pages/samples/register.html"> Register </a></li>
				</ul>
			</div></li>


		<li class="nav-item menu-items"><a class="nav-link"
			href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
				<span class="menu-icon"> <i class="mdi mdi-file-document-box"></i>
			</span> <span class="menu-title">Documentation</span>
		</a></li> -->
	</ul>
	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
	<script th:inline="javascript" th:src="@{/admin/angularjs/main.js}"></script>
</nav>